:root {
    --shade1: #f0ece2; 
    --shade2: #dfd3c3; 
    --shade3: #c7b198;
    --shade4: #596e79; 
}

header{
    background-color: var(--shade3);
}

.navbar-brand{
    color: var(--shade4);
    text-shadow: 1px 1px 2px var(--shade2);
    font-weight: bolder;
    font-family: 'Alegreya', serif;
    font-size: 2em;
    font-style: italic;
}

#header1 .nav-item a, #header1 .nav-item a:hover{
    color: var(--shade4);
    text-shadow: 1px 1px 2px var(--shade2);
    font-family: 'Alegreya', serif;
}


#header1 .nav .nav-item .active{
    background-color: var(--shade1) !important;
    border-radius: 8px;
}


.navbar-toggler{
    background-color: var(--shade1);
}

.navbar-brand:hover{
    cursor: pointer;
    color: var(--shade4);
}

body{
    background-color: var(--shade1);
}

.carousel .carousel-item {
    height: 500px;
    width:100%
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 400px;
    width:100%
}

.titulo{
    color: var(--shade4);
    text-shadow: 1px 1px 2px var(--shade2);
}

.lista {
    list-style: none;
}

.lista li::before {
    content: "\2023"; /* https://oinam.github.io/entities/ */
    color: var(--shade4);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#submenu .active{
    background-color: var(--shade3);
    color: var(--shade4);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--shade2);
}

button{
    border: 0;
    color: var(--shade4);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--shade2);
}

#contact{
    background-color: var(--shade2);
}

#Enviar{
    background-color: var(--shade4);
    color: var(--shade1);
}

#Enviar:hover{
    color: var(--shade4);
    background-color: var(--shade3);
}

.social-links li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }
    .carousel .carousel-item {
        height: 280px;
    }

}